In [12]:
import csv
import pandas as pd
from datetime import datetime, timedelta

pick_list = []
with open('Resources/pickups.csv', newline='') as csvfile:
    reader = csv.reader(csvfile, delimiter=',', quotechar='|')

    for row in reader:
        pick_list.append(row)

# columns = ['timestamp','Post Date','Description','Category','Type','Amount','Memo']

pickup_df = pd.DataFrame(pick_list[1:], columns=pick_list[0]).drop(['id',' isIgnoredForSleepTime','deviceId'], axis=1)

# Make Session Duration
pickup_df['pickup_duration'] = pd.to_datetime(pickup_df['end']) - pd.to_datetime(pickup_df['start'])
# Now covert it to minutes
pickup_df['pickup_duration'] = pickup_df['pickup_duration'] / pd.Timedelta(minutes=1)
pickup_df['timestamp'] = pd.to_datetime(pickup_df['start'], format="%Y-%m-%d")
pickup_df['pickup_count'] = 1
print(pickup_df.head())

                       start                        end  pickup_duration  \
0  2022-09-09 11:59:07 +0000  2022-09-09 11:59:07 +0000         0.000000
1  2022-09-09 12:02:30 +0000  2022-09-09 12:06:34 +0000         4.066667
2  2022-09-09 12:07:17 +0000  2022-09-09 12:07:37 +0000         0.333333
3  2022-09-09 12:46:04 +0000  2022-09-09 12:47:35 +0000         1.516667
4  2022-09-09 13:43:48 +0000  2022-09-09 13:54:56 +0000        11.133333

                  timestamp  pickup_count
0 2022-09-09 11:59:07+00:00             1
1 2022-09-09 12:02:30+00:00             1
2 2022-09-09 12:07:17+00:00             1
3 2022-09-09 12:46:04+00:00             1
4 2022-09-09 13:43:48+00:00             1

In [13]:
pickup_df

,start,end,pickup_duration,timestamp,pickup_count
0,2022-09-09 11:59:07 +0000,2022-09-09 11:59:07 +0000,0.000000,2022-09-09 11:59:07+00:00,1
1,2022-09-09 12:02:30 +0000,2022-09-09 12:06:34 +0000,4.066667,2022-09-09 12:02:30+00:00,1
2,2022-09-09 12:07:17 +0000,2022-09-09 12:07:37 +0000,0.333333,2022-09-09 12:07:17+00:00,1
3,2022-09-09 12:46:04 +0000,2022-09-09 12:47:35 +0000,1.516667,2022-09-09 12:46:04+00:00,1
4,2022-09-09 13:43:48 +0000,2022-09-09 13:54:56 +0000,11.133333,2022-09-09 13:43:48+00:00,1
...,...,...,...,...,...
1195,2022-10-02 17:02:58 +0000,2022-10-02 17:17:27 +0000,14.483333,2022-10-02 17:02:58+00:00,1
1196,2022-10-02 17:22:05 +0000,2022-10-02 17:26:33 +0000,4.466667,2022-10-02 17:22:05+00:00,1
1197,2022-10-02 17:36:24 +0000,2022-10-02 17:36:55 +0000,0.516667,2022-10-02 17:36:24+00:00,1
1198,2022-10-02 17:42:12 +0000,2022-10-02 17:45:03 +0000,2.850000,2022-10-02 17:42:12+00:00,1
1199,2022-10-02 18:02:59 +0000,2022-10-02 18:07:59 +0000,5.000000,2022-10-02 18:02:59+00:00,1

In [14]:
# MAKE NEW DF FOR SLEEP ANALYSIS
sleep_df = pickup_df[['start', 'end']].copy()
sleep_df['end'] = pd.to_datetime(pickup_df['end']) - timedelta(hours=8)
sleep_df['start'] = pd.to_datetime(pickup_df['start']) - timedelta(hours=8)
sleep_df.index = sleep_df['end'] + timedelta(hours=8)
sleep_df = sleep_df.groupby(pd.Grouper(key="end", freq="D")).agg(
    max=('end', 'max'), min=('start', min)
)

# SPLIT DATA INTO MAX AND MIN DFs, TO MERGE BACK TOGETHER
sleep_df_min = sleep_df[['min']]
sleep_df_min.index = sleep_df_min.index - timedelta(days=1)
sleep_df_max = sleep_df[['max']]


sleep_df = sleep_df_min.merge(sleep_df_max, how='left', on='end')
sleep_df['sleep_minutes'] =  ( pd.to_datetime(sleep_df['min']) - pd.to_datetime(sleep_df['max']) ) / pd.Timedelta(minutes=1) 
sleep_df.reset_index(inplace=True)
sleep_df['end'] = sleep_df['end'].dt.date
sleep_df.index = sleep_df['end']

sleep_df.index = pd.to_datetime(sleep_df.index.rename('timestamp'))


# sleep_df = sleep_df.dropna(axis=0)
sleep_df = sleep_df.drop(['end','min', 'max'], axis=1)

In [15]:
sleep_df

            sleep_minutes
timestamp
2022-09-08            NaN
2022-09-09     673.833333
2022-09-10     655.416667
2022-09-11     362.916667
2022-09-12            NaN
2022-09-13            NaN
2022-09-14            NaN
2022-09-15            NaN
2022-09-16            NaN
2022-09-17            NaN
2022-09-18            NaN
2022-09-19            NaN
2022-09-20            NaN
2022-09-21            NaN
2022-09-22            NaN
2022-09-23     568.983333
2022-09-24     764.716667
2022-09-25     240.350000
2022-09-26     475.600000
2022-09-27     460.183333
2022-09-28     472.783333
2022-09-29     308.416667
2022-09-30     742.500000
2022-10-01     603.583333

In [16]:

pickup_df = pickup_df.drop(['start', 'end'], axis=1)

pickup_df = pickup_df.groupby(pd.Grouper(key="timestamp", freq="D")).sum()

pickup_df.reset_index(inplace=True)
pickup_df['timestamp'] = pickup_df['timestamp'].dt.date
pickup_df.index = pd.to_datetime(pickup_df['timestamp'])
pickup_df = pickup_df.drop(['timestamp'],axis=1)
pickup_df['pickup_duration'] = pd.to_numeric(pickup_df['pickup_duration'])
pickup_df = pickup_df.merge(sleep_df, on='timestamp', how='left').dropna(axis=0)

            pickup_duration  pickup_count  sleep_minutes
timestamp
2022-09-09       118.416667            60     673.833333
2022-09-10       157.366667            47     655.416667
2022-09-11       131.433333            71     362.916667
2022-09-23       160.516667            55     568.983333
2022-09-24       143.333333            62     764.716667
2022-09-25        89.300000            65     240.350000
2022-09-26       358.550000           202     475.600000
2022-09-27       419.766667           107     460.183333
2022-09-28       412.400000           121     472.783333
2022-09-29       260.900000           101     308.416667
2022-09-30       279.950000           200     742.500000
2022-10-01        67.366667            47     603.583333